body {
    margin: 0;
    background-color: #000;
    color: #eee;
}

h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
}

form {
    background-color: transparent;
    padding: 40px 0;
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 0px 35px #fff6;
    margin-top: 50px;
    border-radius: 1rem;
    font-size: 14px;
}

.form_input {
    padding: 6px 20px;
}

input,
textarea,select {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: none;
    border: 1px solid #7DCD85;
    box-shadow: 0px 0px 15px #0001;
    background-color: transparent;
    border-radius: 4px;
    color: #7DCD85;
    letter-spacing: 0.1em;
    /* margin-top: 4px; */
}

option{
    background-color: #000;
}
textarea{
    min-width: 100%;
    /* para que no se cambie de tamaño */
    resize: none;
    min-height: 101px;
}

label{
    font-size: 0.9em;
    line-height: 3;
}

.checkbox{
    width: auto;
    height: 10px;
}